<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ՅȝȝՐȝ's Playlists</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<meta property="og:title" content="ՅȝȝՐȝ's Playlists">
	<meta property="og:site_name" content="ՅȝȝՐȝ's Playlists">
	<meta property="og:url" content="https://my-spotify-playlists.onrender.com/">
	<meta property="og:description" content="Enjoy my collection of eclectic playlists covering every genre. Whether you're in the mood for something dance-worthy, something chill, or something weird, I've got you covered. Each playlist is carefully curated with tracks that will take you on a musical journey, from new discoveries to old favorites.">
	<meta property="og:type" content="product">
	<meta property="og:image" content="">
</head>

<body>

	<!-- Header -->
	
	<header>
		<img class="avatar" src="/media/avatar.jpg" alt="Avatar">
		<h1 class="primary">ՅȝȝՐȝ's Playlists</h1>
		<a class="button" href="https://open.spotify.com/user/111112791" target="_blank">Follow on Spotify</a>
	</header>
	
	<!-- Main -->
	
	<main>
		<div id="search-container">
			<input type="text" id="search" placeholder="Search">
		</div>

		<div id="counter-container">
			<span id="playlist-counter"></span>
			<a id="reset-button" style="display: none;">Clear Results</a>
		</div>
		
		<div id="loading-message" class="label secondary">
			<p class="label secondary">Playlists are loading...</p>
		</div>
		
		<section id="playlists-container">
			<!-- Playlists will be added via JavaScript -->
		</section>
	</main>

	<!-- Footer -->

	<footer>
		<p>Created by <a href="https://linktr.ee/barryprendergast" target="_blank">Barry Prendergast</a> &#169; 2023</p>
	</footer>

	<div id="overlay-background" class="overlay hidden">
		<div id="overlay" class="overlay-content">
			<span id="close-overlay" class="close-overlay">&times;</span>

			<h2 id="overlay-playlist-title" class="primary"></h2>

			<div class="row slim">
				<p id="overlay-playlist-tracks" class="label secondary"></p>
				<p id="overlay-playlist-divider" class="label secondary">&#124;</p>
				<p id="overlay-playlist-followers" class="label secondary"></p>
			</div>

			<p id="overlay-playlist-description" class="label mid clamp-2"></p>

			<div class="row-large">
				<a id="open-web" class="button" data-playlist-id="">Open in Spotify Web</a>
				<a id="copy-url" class="button">Copy Link</a>
			</div>

			<div class="overlay-player-wrapper">
				<iframe id="spotify-player" src="" allowtransparency="true" allowfullscreen allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture;"></iframe>
			</div>

		</div>
	</div>

	<script src="/js/app.js"></script>
</body>
</html>
