nav {
    /* background-color: var(--swatch-blue); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 96, 1) 50%, rgba(0, 0, 191, 1) 100%);
}

footer {
    background-color: var(--swatch-black);
    padding-top: var(--size-small);
    padding-bottom: var(--size-small);
}

/* Link */

a {
    font-weight: var(--font-weight-regular);
    color: var(--swatch-lightest-grey);
    cursor: pointer;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    border-radius: var(--size-small-xx);
    transition: all var(--transition-base) ease-in-out;
}

a:hover,
a:focus {
    color: var(--swatch-white);
    transition: all var(--transition-fast) ease-in-out;
}

/* button */

.button {
    padding: var(--size-small-x) var(--size-base);
    background-color: transparent;
    border-color: var(--swatch-lightest-grey);
    color: var(--swatch-lightest-grey);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--size-small-xx);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    line-height: var(--font-height-base);
    font-weight: var(--font-weight-medium);
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all var(--transition-base) ease-in-out;
}

.button:hover,
.button:focus {
    color: var(--swatch-white);
    border-color: var(--swatch-white);
    transition: all var(--transition-fast) ease-in-out;
}

/* Close Button */

.close-overlay {
    position: absolute;
    top: var(--size-large-xx);
    right: var(--size-large-xx);
    font-size: var(--font-size-playlist);
    line-height: var(--font-height-playlist);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    border-radius: 50%;
    width: var(--size-large-xxx);
    height: var(--size-large-xxx);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: transform var(--transition-fast) ease-in-out;
}

.close-overlay:hover {
    background-color: var(--swatch-black);
    transform: scale(1.025);
    -moz-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -o-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transition: transform var(--transition-base) ease-in-out;
}

/* Media */

.avatar {
    border-radius: 50%;
    width: 2rem;
    height: auto;
    border: 1px solid var(--swatch-white);
    box-sizing: border-box;
}

/* Search */

#search::after {
    content: '⮑ ENTER';
    position: absolute;
    right: 0;
    transform: translatex(-7rem);
    pointer-events: none;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--swatch-lightest-grey);
    display: flex;
}

input::placeholder {
    color: var(--swatch-light-grey);
    font-family: var(--type-sans);
}

#search {
    display: flex;
    flex-grow: 1;
    padding: var(--size-base) var(--size-large-x);
    background-color: transparent;
    color: var(--swatch-white);
    border: 1px solid var(--swatch-white);
    font-size: var(--font-size-statement);
    line-height: var(--font-height-statement);
    font-weight: var(--font-weight-light);
    border-radius: var(--size-small-xx);
    transition: background-color var(--transition-base) ease-in;
}

#search:hover {
    color: var(--swatch-white);
    background-color: var(--swatch-black);
    border: 1px solid var(--swatch-white);
}

#search:focus {
    border: 1px solid var(--swatch-white);
    background-color: var(--swatch-black);
}

/* Counter */

#playlist-counter {
    display: inline-block;
}

/* Playlist Item */

.playlist {
    cursor: pointer;
    padding-bottom: var(--size-small);
    border-radius: var(--size-small-x);
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: transform var(--transition-fast) ease-in-out;
}

.playlist:hover {
    /* cursor: pointer; */
    transform: scale(1.025);
    -moz-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -o-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transition: transform var(--transition-base) ease-in-out;
}

.playlist:focus {
    outline-offset: 0.5rem;
}

.playlist-img {
    width: 100%;
    height: auto;
    margin-bottom: var(--size-small);
    border-radius: var(--size-small-x);
}

/* Loading */

.loading-message {
    display: none;
    padding: var(--size-base) var(--size-large-x);
    background-color: var(--swatch-dark-grey);
    color: var(--swatch-white);
    font-size: var(--font-size-base);
    line-height: var(--font-height-base);
    border-radius: var(--size-small-xx);
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container {
    position: absolute;
    font-size: var(--font-size-base);
    line-height: var(--font-height-base);
    background-color: var(--swatch-black);
    color: var(--swatch-white);
    padding: var(--size-small-x);
    border-radius: var(--size-small-x);
    white-space: nowrap;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip-container.visible {
    visibility: visible;
    opacity: 1;
}