.hidden {
    visibility: hidden;
}

html {
    font-size: 15px;
}

body {
    font-family: var(--type-sans);
    background-color: var(--swatch-black);
    color: var(--swatch-white);
    font-size: var(--font-size-base);
    line-height: var(--font-height-base);
    font-weight: var(--font-weight-extralight);
    letter-spacing: 0.5px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
}

:focus {
    outline: 2px solid var(--swatch-yellow);
    outline-offset: 2px;
}

.primary {
    color: var(--swatch-white);
}

.mid {
    color: var(--swatch-lightest-grey);
}

.secondary {
    color: var(--swatch-light-grey);
}