:root {
  /* Color palette */
  --swatch-black: #000000;
  --swatch-dark-grey: #1c1c1c;
  --swatch-light-grey: #9a9a9a;
  --swatch-lightest-grey: #cbcbcb;
  --swatch-blue: #0000bf;
  --swatch-blue-dark: #00007e;
  --swatch-cyan: #00FFFF;
  --swatch-white: #FFFFFF;

  /* Gradients */
  --gradient-blue: linear-gradient (0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 96, 1) 50%, rgba(0, 0, 191, 1) 100%);


  /* Typography */
  --type-sans: 'Outfit', 'Arial', sans-serif;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --size-small-1px: 1px;
  --size-small-xxx: 0.125rem;
  --size-small-xx: 0.25rem;
  --size-small-x: 0.5rem;
  --size-small: 0.75rem;
  --size-base: 1rem;
  --size-large: 1.25rem;
  --size-large-x: 1.5rem;
  --size-large-xx: 2rem;
  --size-large-xxx: 2.5rem;
  --size-large-xxxx: 3rem;
  --size-large-xxxxx: 3.5rem;
  --size-large-xxxxxx: 4rem;
  --size-large-xxxxxxxx: 5.5rem;
  --size-large-xxxxxxxxx: 6rem;

  --font-size-context: var(--size-small);
  --font-size-button: var(--size-small);
  --font-size-base: var(--size-base);
  --font-size-statement: var(--size-large);
  --font-size-brand: var(--size-large-x);
  --font-size-playlist: var(--size-large-xx);
  --font-size-app: var(--size-large-xxxxxxxxx);

  --font-height-context: var(--size-large);
  --font-height-app: var(--size-large);
  --font-height-base: var(--size-large);
  --font-height-statement: var(--size-large-x);
  --font-height-brand: var(--size-large-x);
  --font-height-playlist: var(--size-large-xxx);
  --font-height-app: var(--size-large-xxxxxxxxx);

  /* Transition */
  --transition-fast: 50ms;
  --transition-base: 150ms;
  --transition-slow: 300ms;



  @media (max-width: 991px) {}

  @media (max-width: 768px) {}

  @media (max-width: 478px) {}

}

/* End of Variables */

:focus {
  outline: 2px solid var(--swatch-cyan);
  outline-offset: 2px;
}

html {
  font-size: 14px;
}

body {
  display: flex;
  gap: var(--size-large-xx);
  flex-direction: column;
}

body {
  font-family: var(--type-sans);
  background-color: var(--swatch-black);
  color: var(--swatch-white);
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  font-weight: var(--font-weight-extralight);
  letter-spacing: 0.5px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
}

nav,
main,
footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {

  nav,
  main,
  footer {
    padding: 0 var(--size-large-xxx);
  }
}

@media (max-width: 768px) {

  nav,
  main,
  footer {
    padding: 0 var(--size-large-x);
  }
}

@media (max-width: 478px) {

  nav,
  main,
  footer {
    padding: 0 var(--size-base);
  }
}

nav {
  padding-top: var(--size-base);
  padding-bottom: var(--size-base);
  /* background-color: var(--swatch-blue); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 96, 1) 50%, rgba(0, 0, 191, 1) 100%);
}

nav {
  position: sticky;
  top: 0px;
  z-index: 2000;
}

footer {
  background-color: var(--swatch-black);
  padding-top: var(--size-base);
  padding-bottom: var(--size-base);
}

footer {
  position: sticky;
  bottom: 0px;
}

.section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--size-small);
  flex-wrap: nowrap;
  max-width: 1280px;
  padding-left: var(--size-base);
  padding-right: var(--size-base);
}

@media (max-width: 991px) {

  .section {
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  .section {
    max-width: 100%;
  }
}

@media (max-width: 478px) {

  .section {
    max-width: 100%;
  }
}

/* TYPE */

h1 {
  font-size: var(--font-size-app);
  line-height: var(--font-height-app);
  font-weight: var(--font-weight-medium);
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

.nav-brand-name {
  font-size: var(--font-size-brand);
  line-height: var(--font-height-brand);
}

.nav-brand-desc {
  font-size: var(--font-size-statement);
  line-height: var(--font-height-statement);
}

h2 {
  font-size: var(--font-size-playlist);
  line-height: var(--font-height-playlist);
  font-weight: var(--font-weight-semibold);
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.title {
  font-weight: var(--font-weight-semibold);
}

.statement {
  font-size: var(--font-size-statement);
  line-height: var(--font-height-statement);
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.label {
  text-align: left;
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
}

.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.primary {
  color: var(--swatch-white);
}

.mid {
  color: var(--swatch-lightest-grey);
}

.secondary {
  color: var(--swatch-light-grey);
}

.uppercase {
  text-transform: uppercase;
}

/* ACTIONS */

a {
  font-weight: var(--font-weight-regular);
  color: var(--swatch-lightest-grey);
  cursor: pointer;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--size-small-xx);
  transition: all var(--transition-base) ease-in-out;
}

.button {
  padding: var(--size-small-x) var(--size-base);
  background-color: transparent;
  border-color: var(--swatch-lightest-grey);
  color: var(--swatch-lightest-grey);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--size-small-xx);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  font-weight: var(--font-weight-medium);
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all var(--transition-base) ease-in-out;
}

a:hover,
a:focus {
  color: var(--swatch-white);
  transition: all var(--transition-fast) ease-in-out;
}

.button:hover,
.button:focus {
  color: var(--swatch-white);
  border-color: var(--swatch-white);
  transition: all var(--transition-fast) ease-in-out;
}

/* Media */

.avatar {
  border-radius: 50%;
  width: 2rem;
  height: auto;
  border: 1px solid var(--swatch-white);
  box-sizing: border-box;
}

/* Navigations */



#nav-desc,
#nav-brand,
#nav-search {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--size-small-x);
  flex-wrap: nowrap;
}

#nav-brand,
#nav-desc {
  flex-direction: row;
}

#nav-search {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.nav-brand--group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--size-small-x);
}

#search::after {
  content: '⮑ ENTER';
  position: absolute;
  right: 0;
  transform: translatex(-7rem);
  pointer-events: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--swatch-lightest-grey);
  display: flex;
}

input::placeholder {
  color: var(--swatch-light-grey);
  font-family: var(--type-sans);
}

#search {
  display: flex;
  flex-grow: 1;
  padding: var(--size-base) var(--size-large-x);
  background-color: transparent;
  color: var(--swatch-white);
  border: 1px solid var(--swatch-white);
  font-size: var(--font-size-statement);
  line-height: var(--font-height-statement);
  font-weight: var(--font-weight-light);
  border-radius: var(--size-small-xx);
  transition: background-color var(--transition-base) ease-in;
}

#search:hover {
  color: var(--swatch-white);
  background-color: var(--swatch-black);
  border: 1px solid var(--swatch-white);
}

#search:focus {
  border: 1px solid var(--swatch-white);
  background-color: var(--swatch-black);
}

/* Counter */

#nav-counter {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: var(--size-base);
}

#playlist-counter {
  display: inline-block;
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  color: var(--swatch-white);
}

/* PLAYLISTS */

#playlists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: var(--size-large-xx);
}

@media (max-width: 991px) {
  #playlists-container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--size-large-xxx);
  }
}

@media (max-width: 768px) {
  #playlists-container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--size-large-xx);
  }
}

@media (max-width: 478px) {
  #playlists-container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: var(--size-large-x);
  }
}

.playlist {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--size-small-xx);
  margin-bottom: var(--size-small-x);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform var(--transition-fast) ease-in-out;
}

.playlist:hover {
  cursor: pointer;
  transform: scale(1.025);
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -o-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transition: transform var(--transition-base) ease-in-out;
}

.playlist-img {
  width: 100%;
  height: auto;
  margin-bottom: var(--size-small-x);
  border-radius: var(--size-small-x);
}

/* Loading */

.loading-message {
  display: none;
  padding: var(--size-base) var(--size-large-x);
  background-color: var(--swatch-dark-grey);
  color: var(--swatch-white);
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  border-radius: var(--size-small-xx);
}

/* Overlay */

.overlay-background {}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: var(--size-large-x);
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 8000;
}

.overlay-content {
  position: relative;
  height: fit-content;
  background-color: var(--swatch-black);
  padding: var(--size-large-xx);
  border-radius: var(--size-small);
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--size-small-xx);
  flex-grow: 1;
}

.row-small {
  display: flex;
  justify-content: space-between;
  gap: var(--size-small-x);
  align-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--size-base);
}

.row-large {
  display: flex;
  justify-content: space-between;
  gap: var(--size-base);
  margin: var(--size-base) 0;
}

.slim {
  display: flex;
  justify-content: space-between;
  gap: var(--size-small-x);
}

.close-overlay {
  position: absolute;
  top: var(--size-large-xx);
  right: var(--size-large-xx);
  font-size: var(--font-size-playlist);
  line-height: var(--font-height-playlist);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  border-radius: 50%;
  width: var(--size-large-xxx);
  height: var(--size-large-xxx);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform var(--transition-fast) ease-in-out;
}

.close-overlay:hover {
  background-color: var(--swatch-black);
  transform: scale(1.025);
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -o-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transition: transform var(--transition-base) ease-in-out;
}

.overlay-player-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 36rem;
  margin-top: var(--size-base);
  left: 0;
}

#spotify-player {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container {
  position: absolute;
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  background-color: var(--swatch-black);
  color: var(--swatch-white);
  padding: var(--size-small-x);
  border-radius: var(--size-small-x);
  white-space: nowrap;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-container.visible {
  visibility: visible;
  opacity: 1;
}