:root {
  /* Color palette */
  --spotify-black: #191414;
  --spotify-dark-grey: #292929;
  --spotify-light-grey: #a7a7a7;
  --spotify-green: #1DB954;
  --spotify-white: #FFFFFF;

  /* Typography */
  --main-font: 'Circular Std', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

:focus {
  outline: 2px solid var(--spotify-white);
  outline-offset: 4px;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: var(--spotify-black);
  color: var(--spotify-white);
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

header {
  padding: 2rem;
  text-align: center;
  background: var(--spotify-black);
  background: linear-gradient(0deg, rgba(29,185,84,0) 0%, rgba(29,185,84,0.38) 50%, rgba(29,185,84,1) 100%);
}

main {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--spotify-white);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--spotify-white);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  color: var(--spotify-green);
  border: 1px solid var(--spotify-green);
}

.button:focus {
  border: 1px solid var(--spotify-green);
}

.avatar {
  border-radius: 50%;
  width: 8rem;
  height: auto;
  outline: 4px solid var(--spotify-white);
  outline-offset: 0.25rem;
}

#search-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#search {
  flex-grow: 1;
  padding: 1rem 1.5rem;
  background-color: var(--spotify-dark-grey);
  color: var(--spotify-white);
  border: 1px solid var(--spotify-light-grey);
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 0.25rem;
}

#search:focus {
  border: 1px solid var(--spotify-green);
}

#counter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--spotify-light-grey);
}

#playlist-counter {}

#playlists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  border-radius: 0.25rem;
}

.playlist:hover {
  outline: 2px solid var(--spotify-white);
  outline-offset: 4px;
}

.playlist-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.playlist-title,
.playlist-tracks {
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin:0;
}

.playlist-title {
  font-weight: 600;
  color: var(--spotify-white);
}

.playlist-tracks {
  color: var(--spotify-light-grey);
}

footer {
  background-color: #1db954;
  padding: 2rem;
  text-align: center;
}
