:root {
    /* Color palette */
    --swatch-black: #000000;
    --swatch-dark-grey: #1c1c1c;
    --swatch-light-grey: #9a9a9a;
    --swatch-lightest-grey: #cbcbcb;
    --swatch-blue: #0000bf;
    --swatch-blue-dark: #00007e;
    --swatch-cyan: #00FFFF;
    --swatch-white: #FFFFFF;

    /* Gradients */
    --gradient-blue: linear-gradient (0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 96, 1) 50%, rgba(0, 0, 191, 1) 100%);

    /* Typography */
    --type-sans: 'Outfit', 'Arial', sans-serif;
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --size-small-1px: 1px;
    --size-small-xxx: 0.125rem;
    --size-small-xx: 0.25rem;
    --size-small-x: 0.5rem;
    --size-small: 0.75rem;
    --size-base: 1rem;
    --size-large: 1.25rem;
    --size-large-x: 1.5rem;
    --size-large-xx: 2rem;
    --size-large-xxx: 2.5rem;
    --size-large-xxxx: 3rem;
    --size-large-xxxxx: 3.5rem;
    --size-large-xxxxxx: 4rem;
    --size-large-xxxxxxxx: 5.5rem;
    --size-large-xxxxxxxxx: 6rem;

    --font-size-context: var(--size-small);
    --font-size-button: var(--size-small);
    --font-size-base: var(--size-base);
    --font-size-statement: var(--size-large);
    --font-size-brand: var(--size-large-x);
    --font-size-playlist: var(--size-large-xx);
    --font-size-app: var(--size-large-xxxxxxxxx);

    --font-height-context: var(--size-large);
    --font-height-app: var(--size-large);
    --font-height-base: var(--size-large);
    --font-height-statement: var(--size-large-x);
    --font-height-brand: var(--size-large-x);
    --font-height-playlist: var(--size-large-xxx);
    --font-height-app: var(--size-large-xxxxxxxxx);

    /* Transition */
    --transition-fast: 50ms;
    --transition-base: 150ms;
    --transition-slow: 300ms;


    /* Breakpoints */
    @media (max-width: 991px) {}

    @media (max-width: 768px) {}

    @media (max-width: 478px) {}

}